body {
    background-color: rgb(138, 110, 202);
}

h1{
    font-size:24px;
    text-align: center;
}

.caixaEmail {
    text-align: center;
}

.botaoIndex {
    text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
}